@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-size: 2rem;
  margin: 30px;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}